.inner-card {
	display: flex;
	align-items: center;
	gap: 20px;
}
.input-container {
	position: relative;
	display: inline-block;
}

.input-container input {
	width: 100%;
	padding-right: 25px;
	box-sizing: border-box;
}

.input-container button {
	padding: 2px 2px;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	cursor: pointer;
	font-size: 14px;
	color: rgba(179, 174, 174, 0.87);
}

.input-container button:hover {
	color: rgba(96, 95, 95, 0.87);
}

@media (max-width: 768px) {
	/* .inner-card {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	} */
	.inner-card > div {
		padding: 0px;
		margin: 0px;
	}
	.input-container {
		width: 100%;
	}
	.input-container input {
		width: 100%;
		font-size: 16px;
	}
	.input-container button {
		font-size: 12px;
	}

	.checkbox-container {
		flex-direction: row;
		align-items: center;
	}
}
